<%if current_user.MODERATOR? || current_user.ADMIN? %>
    <p>Hello <%= current_user.email %>!</p>
    <p>You are a [<%= current_user.role %>]</p>
<%if current_user.ADMIN? %>
    <p>Welcome to the page accessible by roles of MODERATOR or ADMIN.</p>
    <p>In case you see this text, your account is authorized as an ADMIN.</p>
<% else current_user.MODERATOR? %>
    <p>Welcome to the page accessible only by users with role of MODERATOR or ADMIN.</p>
    <p>In case you see this text, your account is authorized as a MODERATOR.</p>
<% end %>
<% else %>
    <p>You must be authenticated as a MODERATOR or an ADMIN in order to access this page</p>
<% end %>


